

.nav_btn{
    list-style: none;
}

.nav_btn a{
    font-size: 1.2rem; 
    color:  rgb(10, 5, 0); 
    text-decoration: none; 
    padding: 0.4rem 0.5rem ;
    transition: all 0.1s ease;
    border-radius: 8px ;


}


.no_icons:hover{
  background-color:   rgba(26, 23, 10, 0.871);
  color:bisque;
  padding: 0.4rem 0.5rem ;
  
}

.icon_styles:hover{
   color: rgb(110, 110, 110);
   background-color: transparent;

}

li:has(.sideNavIcon){
  width:2.5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(26, 23, 10, 0.871);
  border-radius: 4px;
  border:0.1px solid black;
  transition: all 0.1s ease-in-out;
  
}

li:has(.sideNavIcon):hover{
  background-color: transparent;
}


.sideNavIcon{
  display:flex;
  justify-content: center;
  align-items:center;
   
}

.sideNavIcon svg{
  color:bisque;
  transition: all 0.1s ease-in-out;
}
 
li:has(.sideNavIcon):hover .sideNavIcon svg{
  color:rgb(0, 0, 0);
 
}

