* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, rgb(10, 5, 0), rgb(26, 23, 10));
  width: 100vw;
  min-height: 100vh;
  font-family: 'EB Garamond', 'EB Garamond Local', serif;
}

a, img, button {
  -webkit-tap-highlight-color: transparent;
}
