



.img{
    background: url("./public/assets/top-home-img.png");
    margin-top:4rem;
    width:100%;
    height:35rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
     
}


.text_container{
    position: relative; 
    top:10rem;
    text-align:left  
    

}

.text_container *{
 
    margin-left: 2rem;
}

h1{
     text-align:left !important; 
}




